*{
    margin: 0px;
    padding: 0px;
} body {
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle, #0d47a1 0%, #000000 70%);
    font-family: sans-serif;
  }
  #nav_bar{
    height: 150px;
    width: 100%;
    /* border: 3px solid red; */
  }
  #heading{
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
  }

  #heading>h1{
    color: aliceblue;
    font-size: 70px;
  }
  #box{
    margin: auto;
    /* border: 3px solid red; */
    height: 350px;
    width: 700px;
    /* background: radial-gradient(circle, #a2a5ab 0%, #3d616d 70%); */
    padding-top: 20px;
  }
  video{
    width: 100%;
  }
  #white_space{
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }
  #factorial{
    border: none;
    font-size: 40px;
    outline: none;
    text-align: center;
  }
  #bg-video {
    position: fixed; 
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; 
    object-fit: cover;
  }
  #answer_space{
    height: 200px;
    background-color: white;
    margin-top: 60px;
    text-align: justify;
  }
  #answer_box{
    margin-top: 8px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #answer_box{
    text-align: center;
  }
  #confirm_button{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(101, 215, 101);
  }

  #retry{
background-color: red;
width: 30px;
height: 30px;
border: none;
border-radius: 7px;
position: fixed;
left: 1070;
  }