body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 40px;
    background: radial-gradient(circle, #6795db 0%, #ffffff 70%);
  }

  .container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  h2 {
    text-align: center;
    color: #333;
  }

  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 30px;
  }

  input, select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .full-width {
    grid-column: 1 / -1;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
  }

  th {
    background-color: #007bff;
    color: white;
  }

  .button-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #64d8dc;
    color: white;
    font-size: 19px;
    cursor: pointer;
  }

  button:hover {
    background-color: #218838;
  }
  #table_div{
    width: 100%;
  }

  #delete_button{
    /* color: red; */
    transition: transform 0.2s ease;
    cursor: pointer;
  }
  
  #delete_button:hover {
    transform: scale(1.3); /* You can adjust the scale as needed */
  }
  #donors{
    text-align: center;
    color: white;
    margin-top: 70px;
  }